.blogDetailsAllDataContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  margin-top: var(--section-top);
  justify-content: space-between;
  grid-template-columns: 68% 28%;
}

.blogDetailsATopImage {
  width: 1035px;
  height: 510px;
}

.blogDetailsTextContainer {
  margin-top: 40px;
}

.blogDetailsUserCalendarAndSmsContainer {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 25px;
  margin-top: 20px;
}

.blogDetailsUserCalendarAndSmsIcons {
  color: #4895ef;
  font-size: 16px;
}

.blogDetailsUserCalendarAndSmsText {
  color: #797e88;
  font-size: 16px;
}

.blogDetailsUserCalendarAndSms {
  display: flex;
  gap: 10px;
  align-items: center;
}

.blogDetailsTitleText {
  color: var(--primary);
  font-size: var(--font-4xl);
  font-weight: 700;
  line-height: 46px;
}

.blogDetailsParagraphTextContainer {
  color: #797e88;
  font-size: var(--font-base);
  line-height: 26px;
  margin-top: var(--margin-3);
}

.sectionInfoParagraphMt {
  margin-top: var(--margin-2);
}

.blogDetailsWritingContainer {
  background: #f5f9fe;
  padding: 40px;
  border-left: 4px solid #4895ef;
  margin-top: 40px;
}

.blogDetailsWritingText {
  color: #1b3447;
  font-family: "Hanken Grotesk";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.blogDetailsWriterAllDataContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogDetailsWriterContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}

.blogDetailsWriterLineText {
  width: 30px;
  height: 4px;
  background: #4895ef;
}

.blogDetailsWriterText {
  color: #797e88;
  font-size: 18px;
  font-weight: 500;
}

.blogDetailsWritingSectionIcons {
  width: 30px;
  height: 21px;
  margin-top: 20px;
}

/* ........Page2............ */

.blogDetailsPage2ImageContainer {
  margin-top: var(--margin-4);
  display: flex;
  gap: var(--gap-3);
}

.blogDetailsPage2Image {
  width: 505px;
  height: 320px;
}

/*  Add Comment */
.addCommentAllDataContainer {
  margin-top: var(--margin-5);
}

/* GB ST */
.leftSectionHeaderTitle {
  color: var(--primary);
  font-size: var(--font-2xl);
  font-weight: 700;
  line-height: 34px;
  text-transform: capitalize;
  margin-bottom: var(--margin-3);
  text-transform: capitalize;
}
/* GB END */

.addCommentTextFieldContainer {
  display: flex;
  gap: var(--gap-3);
  margin-bottom: var(--margin-2);
}
.addCommentTextField {
  border-radius: 4px;
  background: #f5f9fe;
}

.postCommentBtn {
  text-decoration: none;
  display: inline-flex;
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--secondary);
  color: var(--white);
  font-size: var(--font-base);
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: var(--margin-3);
}

/* ........Page3............ */

.relatedTagsText {
  margin: 50px 0 20px 0;
  color: #1b3447;
  font-size: var(--font-base);
  font-weight: 700;
}

.relatedTagAndContactIconsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relatedTagContainer {
  display: flex;
  gap: var(--gap-1);
  flex-wrap: wrap;
}

.relatedTag {
  padding: var(--padding-1) var(--padding-3);
  gap: var(--gap-1);
  border-radius: 5px;
  background: #f5f9fe;
  color: var(--primary);
  font-size: var(--font-base);
  font-weight: 600;
  text-transform: capitalize;
}

.ContactIconsContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
}

.ContactIcons {
  display: flex;
  padding: 15px;
  background-color: var(--white);
  color: #797e88;
  border: 1px solid #797e88;
  border-radius: 50%;
}

.relatedTagsPublicInformationContainer {
  display: flex;
  gap: 30px;
  align-items: center;
  border-radius: 10px;
  background: #f5f9fe;
  padding: 40px;
  margin-top: 50px;
}

.relatedTagsPublicInformationImage {
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

.relatedTagsPublicInformationName {
  color: #1b3447;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.relatedTagsPublicInformationSubTitleText {
  color: #797e88;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.recentPostAllDataContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: 1px solid #dbdbdb;
}

.recentPostDataInfoContainer1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.recentPostDataInfoContainer2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.recentPostImage {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.recentPostInfoTextContainer1 {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recentPostInfoTextContainer2 {
  width: 80%;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recentPostInfoTitle1 {
  color: #1b3447;
  font-size: 18px;
  font-weight: 700;
}

.recentPostInfoTitle2 {
  width: 60%;
  text-align: right;
  margin-left: 40%;
  color: #1b3447;
  font-size: 18px;
  font-weight: 700;
}

.recentBtn1 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
  color: #797e88;
  font-size: 14px;
}

.recentBtn2 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
  color: #797e88;
  font-size: 14px;
}

.recentIconBtn1 {
  color: #1b3447;
  font-size: 16px;
}

.recentIconBtn2 {
  color: #1b3447;
  font-size: 20px;
}

/* -------Comment-------- */
.commentAllDataContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}

.commentDataInfoContainer {
  display: flex;
  gap: 30px;
}

.commentImage {
  width: 80px;
  height: 80px;
}

.commentNameText {
  color: #1b3447;
  font-size: 18px;
  font-weight: 700;
}

.commentDateAndTimeText {
  color: #797e88;
  font-size: 14px;
  margin: 10px 0 15px 0;
}

.commentTitleText {
  width: 95%;
  color: #797e88;
  font-size: 16px;
}

.commentReplyBtn {
  width: 92px;
  padding: 6px;
  display: flex;
  gap: 5px;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  background: #4895ef;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
}

.commentReplyBtnIcon {
  margin-top: 5px;
}

/* -------Right section-------- */

.RightSectionAllDataContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
}

/* GB ST */
.rightSectionContainer {
  border-radius: 10px;
  background: #f5f9fe;
  padding: var(--padding-4);
}

.rightSectionHeaderTitle {
  color: var(--primary);
  font-size: var(--font-2xl);
  font-weight: 700;
  line-height: 34px;
  text-transform: capitalize;
  margin-bottom: var(--margin-3);
  text-transform: capitalize;
}
/* GB END */

/* ------Right section All Services section----- */

.serviceItemsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.serviceInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background: var(--white);
  padding: var(--padding-2) var(--padding-3);
  border-radius: 10px;
  border-left: 4px solid var(--secondary);
  transition: all 0.3s;
}

.serviceName {
  color: var(--primary);
  font-size: var(--font-base);
  font-weight: 600;
  text-transform: capitalize;
}

.arrowRightIcons {
  width: 40px;
  height: 40px;
  background-color: #edf4fd;
  border-radius: 100%;
  color: var(--secondary);
  padding: var(--padding-1);
}

/* ------Right section Recent Post section----- */
.rightSectionRecentPostDataContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
}

.rightSectionRecentPostData {
  display: flex;
  gap: var(--gap-2);
}

.recentPostImage {
  width: 80px;
  height: 80px;
}

.rightSectionRecentPostInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightSectionRecentPostTitle {
  color: var(--primary);
  font-size: var(--font-base);
  font-weight: 700;
  line-height: 22px;
}

.rightSectionRecentPostDateContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.calendarMonthIcon {
  color: var(--secondary);
  font-size: var(--font-lg);
}

.rightSectionRecentPostDate {
  color: #797e88;
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: 26px;
}

/* ------Right section Popular Tag section----- */
.rightSectionTagContainer {
  display: flex;
  gap: var(--gap-1);
  flex-wrap: wrap;
}

.rightSectionTag {
  padding: 12px 29px;
  gap: 10px;
  border-radius: 5px;
  background: var(--white);
  color: var(--primary);
  font-size: var(--font-base);
  font-weight: 600;
  text-transform: capitalize;
}

@media screen and (max-width: 1300px) {
  .blogDetailsAllDataContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 379px) {
  .blogDetailsATopImage {
    width: 100%;
    height: 100%;
  }

  .blogDetailsTextContainer {
    margin-top: 30px;
  }

  .blogDetailsUserCalendarAndSmsContainer {
    width: 100%;
    margin-top: 15px;
  }

  .blogDetailsUserCalendarAndSmsIcons {
    font-size: 12px;
  }

  .blogDetailsUserCalendarAndSmsText {
    font-size: 12px;
  }

  .blogDetailsUserCalendarAndSms {
    gap: 8px;
  }

  .blogDetailsTitleText {
    text-align: center;
    font-size: 22px;
    line-height: 35px;
  }

  .blogDetailsTitleTextBr {
    display: none;
  }

  .blogDetailsParagraphTextContainer {
    font-size: 14px;
    margin-top: 0px;
  }

  .sectionInfoParagraphMt {
    margin-top: 10px;
  }

  .blogDetailsWritingContainer {
    padding: 20px;
    border-left: 2px solid #4895ef;
    margin-top: 30px;
  }

  .blogDetailsWritingText {
    font-size: 14px;
    line-height: 24px;
  }

  .blogDetailsWriterAllDataContainer {
    width: 100%;
  }

  .blogDetailsWriterContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }

  .blogDetailsWriterLineText {
    width: 30px;
    height: 2px;
  }

  .blogDetailsWriterText {
    font-size: 16px;
  }

  .blogDetailsWritingSectionIcons {
    width: 20px;
    height: 15px;
    margin-top: 10px;
  }

  /* ........Page2............ */

  .blogDetailsPage2ImageContainer {
    flex-direction: column;
    gap: 20px;
  }

  .blogDetailsPage2Image {
    width: 100%;
    height: 100%;
  }

  /* ........Page3............ */

  .relatedTagsText {
    text-align: center;
    margin: 30px 0 20px 0;
  }

  .relatedTagAndContactIconsContainer {
    flex-direction: column;
    gap: 30px;
  }

  .relatedTag {
    padding: 10px 20px;
    font-size: 14px;
  }

  .ContactIcons {
    padding: 12px;
  }

  .relatedTagsPublicInformationContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
  }

  .relatedTagsPublicInformationImage {
    width: 100px;
    height: 100px;
  }

  .relatedTagsPublicInformationName {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .relatedTagsPublicInformationSubTitleText {
    font-size: 14px;
  }

  .recentPostAllDataContainer {
    gap: 30px;
    flex-direction: column;
    padding: 40px 0;
  }

  .recentPostInfoTitle1 {
    font-size: 16px;
  }

  .recentPostInfoTitle2 {
    font-size: 16px;
  }

  .recentBtn1 {
    gap: 8px;
  }

  .recentBtn2 {
    gap: 8px;
  }

  .recentIconBtn1 {
    font-size: 14px;
  }

  .recentIconBtn2 {
    font-size: 18px;
  }

  /* -------Comment-------- */

  .commentDataInfoContainer {
    gap: 20px;
  }

  .commentImage {
    width: 50px;
    height: 50px;
  }

  .commentNameText {
    font-size: 16px;
  }

  .commentDateAndTimeText {
    margin: 8px 0;
  }

  .commentTitleText {
    width: 100%;
    font-size: 14px;
  }

  .commentReplyBtn {
    font-size: 14px;
    margin-top: 20px;
  }

  .commentReplyBtnIcon {
    margin-top: 4px;
  }

  /*  Add Comment */
  .addCommentAllDataContainer {
    margin-top: 40px;
  }

  /* GB ST */
  .leftSectionHeaderTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  /* GB END */

  .addCommentTextFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .postCommentBtn {
    padding: 14px 30px;
    font-size: 14px;
    margin-top: 20px;
  }

  /* -------Right section-------- */

  .RightSectionAllDataContainer {
    display: none;
  }
}

@media screen and (min-width: 380px) and (max-width: 500px) {
  .blogDetailsATopImage {
    width: 100%;
    height: 100%;
  }

  .blogDetailsTextContainer {
    margin-top: 30px;
  }

  .blogDetailsUserCalendarAndSmsContainer {
    gap: 25px;
    justify-content: left;
    width: 100%;
    margin-top: 15px;
  }

  .blogDetailsUserCalendarAndSmsIcons {
    font-size: 14px;
  }

  .blogDetailsUserCalendarAndSmsText {
    font-size: 14px;
  }

  .blogDetailsTitleText {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }

  .blogDetailsTitleTextBr {
    display: none;
  }

  .blogDetailsParagraphTextContainer {
    font-size: 14px;
    margin-top: 0px;
  }

  .sectionInfoParagraphMt {
    margin-top: 10px;
  }

  .blogDetailsWritingContainer {
    padding: 20px;
    border-left: 3px solid #4895ef;
    margin-top: 30px;
  }

  .blogDetailsWritingText {
    font-size: 14px;
  }

  .blogDetailsWriterAllDataContainer {
    width: 100%;
  }

  .blogDetailsWriterContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .blogDetailsWriterLineText {
    width: 30px;
    height: 2px;
  }

  .blogDetailsWriterText {
    font-size: 16px;
  }

  .blogDetailsWritingSectionIcons {
    width: 22px;
    height: 18px;
    margin-top: 10px;
  }

  /* ........Page2............ */

  .blogDetailsPage2ImageContainer {
    flex-direction: column;
    gap: 20px;
  }

  .blogDetailsPage2Image {
    width: 100%;
    height: 100%;
  }

  /* ........Page3............ */

  .relatedTagsText {
    text-align: center;
    margin: 30px 0 20px 0;
  }

  .relatedTagAndContactIconsContainer {
    flex-direction: column;
    gap: 30px;
  }

  .relatedTag {
    padding: 10px 20px;
    font-size: 14px;
  }

  .ContactIcons {
    padding: 12px;
  }

  .relatedTagsPublicInformationContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
  }

  .relatedTagsPublicInformationImage {
    width: 100px;
    height: 100px;
  }

  .relatedTagsPublicInformationName {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .relatedTagsPublicInformationSubTitleText {
    font-size: 14px;
  }

  .recentPostAllDataContainer {
    gap: 30px;
    flex-direction: column;
    padding: 40px 0;
  }

  .recentPostInfoTitle1 {
    font-size: 16px;
  }

  .recentPostInfoTitle2 {
    font-size: 16px;
  }

  .recentBtn1 {
    gap: 8px;
  }

  .recentBtn2 {
    gap: 8px;
  }

  .recentIconBtn1 {
    font-size: 14px;
  }

  .recentIconBtn2 {
    font-size: 18px;
  }

  /* -------Comment-------- */

  .commentDataInfoContainer {
    gap: 20px;
  }

  .commentImage {
    width: 50px;
    height: 50px;
  }

  .commentNameText {
    font-size: 16px;
  }

  .commentDateAndTimeText {
    margin: 8px 0;
  }

  .commentTitleText {
    width: 100%;
    font-size: 14px;
  }

  .commentReplyBtn {
    font-size: 14px;
    margin-top: 20px;
  }

  .commentReplyBtnIcon {
    margin-top: 4px;
  }

  /*  Add Comment */
  .addCommentAllDataContainer {
    margin-top: 40px;
  }

  /* GB ST */
  .leftSectionHeaderTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  /* GB END */

  .addCommentTextFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .postCommentBtn {
    padding: 14px 30px;
    font-size: 14px;
    margin-top: 20px;
  }

  /* -------Right section-------- */

  .RightSectionAllDataContainer {
    display: none;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .blogDetailsATopImage {
    width: 100%;
    height: 100%;
  }

  .blogDetailsTextContainer {
    margin-top: 30px;
  }

  .blogDetailsUserCalendarAndSmsContainer {
    gap: 25px;
    justify-content: left;
    width: 100%;
    margin-top: 15px;
  }

  .blogDetailsTitleText {
    text-align: center;
    font-size: 36px;
  }

  .blogDetailsTitleTextBr {
    display: none;
  }

  .blogDetailsParagraphTextContainer {
    font-size: 16px;
    margin-top: 0px;
  }

  .sectionInfoParagraphMt {
    margin-top: 10px;
  }

  .blogDetailsWritingContainer {
    padding: 25px;
    border-left: 3px solid #4895ef;
    margin-top: 30px;
  }

  .blogDetailsWritingText {
    font-size: 16px;
  }

  .blogDetailsWriterAllDataContainer {
    width: 100%;
  }

  .blogDetailsWriterContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .blogDetailsWriterLineText {
    width: 30px;
    height: 2px;
  }

  .blogDetailsWriterText {
    font-size: 16px;
  }

  .blogDetailsWritingSectionIcons {
    width: 22px;
    height: 18px;
    margin-top: 10px;
  }

  /* ........Page2............ */

  .blogDetailsPage2ImageContainer {
    gap: 20px;
  }

  .blogDetailsPage2Image {
    width: 100%;
    height: 100%;
  }

  /* ........Page3............ */

  .relatedTagAndContactIconsContainer {
    gap: 50px;
  }

  .relatedTag {
    font-size: 16px;
  }

  .ContactIcons {
    padding: 12px;
  }

  .relatedTagsPublicInformationContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
  }

  .relatedTagsPublicInformationImage {
    width: 100px;
    height: 100px;
  }

  .relatedTagsPublicInformationName {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .relatedTagsPublicInformationSubTitleText {
    font-size: 16px;
  }

  .recentPostAllDataContainer {
    gap: 40px;
    flex-direction: column;
  }

  .recentPostInfoTitle1 {
    font-size: 16px;
  }

  .recentPostInfoTitle2 {
    font-size: 16px;
  }

  .recentIconBtn1 {
    font-size: 16px;
  }

  .recentIconBtn2 {
    font-size: 22px;
  }

  /* -------Comment-------- */

  .commentNameText {
    font-size: 16px;
  }

  .commentTitleText {
    width: 100%;
    font-size: 14px;
  }

  .addCommentTextFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .postCommentBtn {
    padding: 14px 30px;
    font-size: 14px;
    margin-top: 20px;
  }

  /* -------Right section-------- */

  .RightSectionAllDataContainer {
    display: none;
  }
}

@media screen and (min-width: 801px) and (max-width: 1300px) {
  .blogDetailsATopImage {
    width: 100%;
    height: 100%;
  }

  .blogDetailsTitleText {
    font-size: 40px;
  }

  /* ........Page2............ */

  .blogDetailsPage2Image {
    width: 100%;
    height: 100%;
  }

  /* -------Comment-------- */

  /* -------Right section-------- */

  .RightSectionAllDataContainer {
    display: none;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1860px) {
  .blogDetailsAllDataContainer {
    width: 90%;
    grid-template-columns: 68% 28%;
  }

  .blogDetailsATopImage {
    width: 100%;
    height: 100%;
  }

  /* ........Page2............ */

  .blogDetailsPage2Image {
    width: 100%;
    height: 100%;
  }
}
