.blogAllDataContainer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: var(--section-top);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: var(--gap-3);
}

.blogDataContainer1 {
  grid-column: 1/5;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsAndBlogHeaderTitleContainer {
  display: flex;
  align-content: center;
  gap: var(--gap-2);
}

.newsAndBlogHeaderTitle {
  color: var(--secondary);
  font-size: var(--font-2xl);
  font-weight: 600;
  line-height: 34px;
}

.newsAndBlogHeaderTitleLLineStyle {
  width: 35px;
  height: 3px;
  background-color: var(--secondary);
  margin-top: var(--gap-2);
}

.latestNewsAndBlogContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latestNewsAndBlogTitle {
  font-size: var(--font-5xl);
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
}

.newsAndBlogViewAllBtn {
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-lg);
  font-weight: 500;
  padding: 15px 40px;
  border-radius: 5px;
  background: var(--secondary);
}

.newsAndBlogHeaderSubTitle {
  color: #797e88;
  font-size: var(--font-base);
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
}

.blogDataContainer2 {
  width: 100%;
  height: 100%;
  color: var(--white);
  background-color: var(--primary);
  display: flex;
  align-items: center;
  gap: var(--gap-3);
  grid-column: 1/5;
  grid-row: 3/-1;
}

.blogDataContainer2Image {
  width: 400px;
  height: 380px;
}

.blogDataContainer3 {
  color: var(--white);
  background-color: var(--primary);
  grid-column: 4;
  grid-row: 1/-1;
  grid-column: 5/-1;
}

.blogDataContainer3Image {
  width: 436px;
  height: 300px;
}

.newsAndBlogTextDataContainer1 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
  padding-right: 50px;
}

.newsAndBlogTextDataContainer2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  padding: var(--padding-2) var(--padding-3);
}

.newsAndBlogTitle {
  font-size: var(--font-2xl);
  font-weight: 600;
  line-height: 34px;
}

.newsAndBlogDate {
  font-size: var(--font-lg);
  font-weight: 400;
  line-height: 28px;
}

.newsAndBlogSubTitle {
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: 24px;
}

.newsAndBlogReadMoreBtn {
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-content: center;
  color: var(--secondary);
  font-size: var(--font-lg);
  font-weight: 700;
  line-height: 28px;
}

@media screen and (max-width: 379px) {
  .blogAllDataContainer {
    width: 90%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
  }

  .blogDataContainer1 {
    text-align: center;
  }

  .newsAndBlogHeaderTitleContainer {
    justify-content: center;
    gap: 12px;
  }

  .newsAndBlogHeaderTitle {
    font-size: 16px;
  }

  .newsAndBlogHeaderTitleLLineStyle {
    width: 30px;
    height: 2px;
  }

  .latestNewsAndBlogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .latestNewsAndBlogTitle {
    font-size: 30px;
  }

  .newsAndBlogViewAllBtn {
    font-size: 16px;
    width: 100%;
    padding: 12px 40;
  }

  .newsAndBlogHeaderSubTitle {
    font-size: 15px;
  }

  .blogDataContainer2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .blogDataContainer2Image {
    width: 90vw;
    height: 100%;
  }

  .blogDataContainer3Image {
    width: 90vw;
    height: 100%;
  }

  .newsAndBlogTextDataContainer1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 20px 20px 20px;
  }

  .newsAndBlogTextDataContainer2 {
    text-align: center;
    padding: 20px;
  }

  .newsAndBlogTitle {
    font-size: 20px;
  }

  .newsAndBlogDate {
    font-size: 16px;
  }

  .newsAndBlogReadMoreBtn {
    justify-content: center;
    gap: 10px;
    font-size: 17px;
  }
}

@media screen and (min-width: 380px) and (max-width: 1000px) {
  .blogAllDataContainer {
    width: 90%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .blogDataContainer1 {
    text-align: center;
  }

  .newsAndBlogHeaderTitleContainer {
    justify-content: center;
    gap: 12px;
  }

  .newsAndBlogHeaderTitle {
    font-size: 16px;
  }

  .newsAndBlogHeaderTitleLLineStyle {
    width: 30px;
    height: 2px;
  }

  .latestNewsAndBlogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .latestNewsAndBlogTitle {
    font-size: 30px;
  }

  .newsAndBlogViewAllBtn {
    font-size: 16px;
    width: 100%;
    padding: 12px 40;
  }

  .newsAndBlogHeaderSubTitle {
    font-size: 15px;
  }

  .blogDataContainer2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .blogDataContainer2Image {
    width: 90vw;
    height: 100%;
  }

  .blogDataContainer3Image {
    width: 90vw;
    height: 100%;
  }

  .newsAndBlogTextDataContainer1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 20px 20px 20px;
  }

  .newsAndBlogTextDataContainer2 {
    text-align: center;
    padding: 0px 20px 20px 20px;
  }

  .newsAndBlogTitle {
    font-size: 20px;
  }

  .newsAndBlogDate {
    font-size: 16px;
  }

  .newsAndBlogReadMoreBtn {
    justify-content: center;
    gap: 10px;
    font-size: 17px;
  }
}
