.navBarAllDataContainer {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

/* Nav Bar Left Section */

/* Nav Bar Center Section */
.navItemsContainer {
  display: flex;
  gap: 20px;
}

.navItemsButton {
  text-decoration: none;
  font-size: 1.12rem;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.2s;
}

.navItemsButton:hover {
  color: #0a85d1;
}

.navItemsButtonArrowDown {
  font-size: 1rem;
  opacity: 0.7;
}

/* Nav Bar Right Section */
.navRightItemsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navIcon {
  font-size: 1.25rem;
}
