.navBarAllDataContainer {
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  z-index: 200;
}

/* .navLogo {
  width: 200px;
  height: 1px;
} */

/* Nav Bar Center Section */
.navItemsContainer {
  display: flex;
  gap: 20px;
}

.navItemsButton {
  text-decoration: none;
  font-size: 1.12rem;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.2s;
}

.navItemsButton:hover {
  color: #0a85d1;
}

.navItemsButtonArrowDown {
  font-size: 1rem;
  opacity: 0.7;
}

.navItem {
  position: relative;
}

.dropdownMenuAllDataContainer {
  display: flex;
  flex-direction: column;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
  border-top: 1px solid #e1e6ff;
  display: none;
  flex-direction: column;
  padding: 10px 20px;
  z-index: 100;
}

.navItem:hover .dropdownMenu {
  display: block;
}

.dropdownSection {
  margin-bottom: 10px;
}

.dropdownSectionName {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  white-space: nowrap;
}

.dropdownItem {
  list-style: none;
  font-size: 0.9rem;
  color: #111111;
  padding: 5px 0;
  cursor: pointer;
  transition: all 0.2s;
  white-space: nowrap;
}

.dropdownItem:hover {
  color: #0a85d1;
}

.dropdownItemLink {
  white-space: nowrap;
  text-decoration: none;
  color: #111111;
}

/* Nav Bar Right Section */
.navRightItemsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navIcon {
  font-size: 1.25rem;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
}

.navIcon:hover {
  color: #0a85d1;
}

.navUserContainer {
  position: relative;
}

.navUserContainer:hover .navUserItemsContainer {
  display: flex;
}

.navUserItemsContainer {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  padding: 10px 30px 25px 30px;
  box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
  border-top: 1px solid #e1e6ff;
  display: none;
  flex-direction: column;
  z-index: 100;
}

.navUserItemsText {
  white-space: nowrap;
  font-size: 1rem;
  color: #111111;
  transition: all 0.3s;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  margin-top: 10px;
}

.navUserItemsText:hover {
  color: #0a85d1;
}
