.navBarContaine {
  background-color: #11112b;
  padding: 30px 0;
}
.navBarAllItemsContainer {
  position: relative;
  z-index: 1001;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBarItemsContainer {
  text-transform: uppercase;
  display: flex;
  list-style-type: none;
  gap: 64px;
}

.navBarItems {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.navBarTalkBtn {
  padding: 16px 32px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  background-color: #11112b;
  cursor: pointer;
}
