.sliderAllDataContainer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #ebebeb;
  border-radius: 20px;
  padding: 80px;
}

.sliderDataContainer {
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sliderDataTitle {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}

.sliderDataSubTitle {
  font-size: 16px;
  margin: 15px 0 25px 0;
}

.sliderDataImage {
  width: 600px;
  height: 600px;
}

/* ---------------- */

.prevArrowContainer,
.nextArrowContainer {
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  color: black;
  border: none;
  cursor: pointer;
  z-index: 100;
  top: 48%;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s;
}
.prevArrowContainer {
  left: -3%;
}

.nextArrowContainer {
  right: -3%;
}

.sliderAllDataContainer:hover .nextArrowContainer {
  z-index: 20;
  opacity: 1;
  right: 0;
}

.sliderAllDataContainer:hover .prevArrowContainer {
  z-index: 20;
  opacity: 1;
  left: 0;
}

.prevArrowContainer:hover {
  background-color: #0a85d1;
  color: #ffffff;
}

.nextArrowContainer:hover {
  background-color: #0a85d1;
  color: #ffffff;
}
