.sliderAllDataContainer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #ebebeb;
  border-radius: 20px;
  padding: 80px;
}

.sliderDataContainer {
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sliderDataTitle {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}

.sliderDataSubTitle {
  font-size: 16px;
  margin: 15px 0 25px 0;
}

.sliderDataImage {
  width: 600px;
  height: 600px;
}
