.faqFooterContainer {
  width: 85%;
  margin: 0 auto;
  padding: 200px 0;
  position: relative;
}

.faqFooterText {
  font-size: 170px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faqFooterOImage {
  width: 10%;
  height: 10%;
  margin: 0 18px;
}

.faqFooterLineStyle {
  width: 52px;
  height: 2px;
  background-color: #fff;
}

.faqFooterNextLevelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  letter-spacing: 4px;
}

.faqFooterNextText {
  font-size: 155px;
  color: #92deed;
  font-style: italic;
  font-weight: 300;
}

.faqFooterLevelText {
  font-size: 170px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(97deg, #92deed 30.1%, #fff 94.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faqFooterGetFreeBtn {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 25px 40px;
  border-radius: 15px;
  border: 1px solid #fff;
  background-color: #11112b;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 3.5rem;
}

.faqFooterFirstBoxStyle {
  width: 34px;
  height: 34px;
  background-color: #d9d9d9;
  position: absolute;
  top: 15%;
  left: 50%;
}

.faqFooterSecondBoxStyle {
  width: 34px;
  height: 34px;
  background-color: #d9d9d9;
  position: absolute;
  top: 50%;
  right: 4%;
}
