.serviceDetailsMainDataContainer {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: var(--section-top);
  display: grid;
  justify-content: space-between;
  grid-template-columns: 28% 68%;
}

.allServicesDataContainer {
  border-radius: 10px;
  background: #f5f9fe;
  padding: var(--padding-4);
}

.allServicesText {
  color: var(--primary);
  font-size: var(--font-2xl);
  font-weight: 700;
  line-height: 34px;
  text-transform: capitalize;
}

.serviceItemsContainer {
  margin-top: var(--margin-3);
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.serviceInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background: var(--white);
  padding: var(--padding-2) var(--padding-3);
  border-radius: 10px;
  border-left: 4px solid var(--secondary);
  transition: all 0.3s;
}

.serviceName {
  color: var(--primary);
  font-size: var(--font-base);
  font-weight: 600;
  text-transform: capitalize;
}

.arrowRightIcons {
  width: 40px;
  height: 40px;
  background-color: #edf4fd;
  border-radius: 100%;
  color: var(--secondary);
  padding: var(--padding-1);
}

.contactUsContainer {
  position: relative;
  margin-top: var(--margin-3);
}

.serviceDetailsContactUsImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.contactInfoContainer {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.anyProjectText {
  color: var(--white);
  font-size: var(--font-2xl);
  font-weight: 700;
}

.contactNumber {
  color: var(--white);
  margin: var(--margin-3) 0 var(--margin-2) 0;
  font-size: var(--font-base);
  font-weight: 600;
}

.contactEmail {
  color: var(--white);
  font-size: var(--font-base);
  font-weight: 600;
}

.contactBtn {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: var(--margin-3);
  display: inline-flex;
  padding: var(--padding-2) var(--padding-4);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--white);
  font-weight: 700;
  font-size: var(--font-base);
  letter-spacing: 1px;
  background: var(--Deep-Sky-Blue, #4895ef);
}

/* ------------------- */

.serviceDetailsTopImageContainer {
  position: relative;
  width: 95.5%;
}

.serviceDetailsTopImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.serviceDetailsTopImagePlayBtnIcon {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.serviceAllInfoRightTextContainer {
  margin-top: var(--margin-4);
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
}

.sectionCategoryText {
  color: var(--primary);
  font-size: var(--font-4xl);
  font-weight: 700;
}

.sectionInfoParagraph {
  color: #797e88;
  font-size: var(--font-base);
  line-height: 26px;
}

.sectionInfoParagraphMt {
  margin-top: var(--margin-2);
}

/* ---------- */

.serviceAllInfoRightTextContainerPage2 {
  margin-top: var(--margin-5);
  display: grid;
  grid-template-columns: 50% 50%;
  gap: var(--gap-5);
  width: 90.7%;
}

.Page2Image {
  width: 100%;
  height: 290px;
}

.page2TitleTopText {
  color: var(--primary);
  font-size: var(--font-2xl);
  font-weight: 700;
  line-height: 34px;
  margin-bottom: var(--margin-2);
}

.offerAllDataContainerPage2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  margin: var(--margin-3) 0;
}

.offerDataInfoPage2 {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
}

.CheckmarkCircleIcons {
  color: var(--secondary);
  font-size: var(--font-2xl);
}

.serviceAllInfoRightTextContainerPage3 {
  width: 90%;
  margin-top: var(--margin-3);
}
