.minus {
  height: 55px;
  width: 45px;
  text-align: center;
  font-size: 30px;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 4px 0 0 4px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 5px;
}

.plus {
  height: 55px;
  width: 45px;
  text-align: center;
  font-size: 28px;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 10px;
}

.inputField {
  height: 55px;
  width: 60px;
  text-align: center;
  font-size: 24px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
}
