.servicesAllDataContainer {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: var(--section-top);
  z-index: 100;
  overflow: hidden;
}

.servicesTitleTextContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--padding-9);
}

.servicesTitleText {
  color: var(--primary);
  font-size: var(--font-5xl);
  font-weight: 700;
}

.servicesViewAllServicesBtn {
  color: var(--primary);
  display: flex;
  gap: var(--gap-2);
  align-items: center;
  text-decoration: none;
}

.servicesViewAllServicesIcon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  padding: 7px;
  background-color: #d1e4fb;
  color: var(--secondary);
  transition: all 400ms;
}

.servicesViewAllServicesIcon:hover {
  background-color: #a8c0df;
}

.servicesCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-3);
}

.servicesCard {
  position: relative;
  padding: var(--padding-6) var(--padding-3) var(--padding-3) var(--padding-3);
  background-color: #f1f5f9;
  border-radius: 15px;
}

.servicesHighLightBg {
  background-color: var(--secondary);
}

.servicesCardImage {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
}

.servicesCardTitleText {
  font-size: var(--font-2xl);
  font-weight: 600;
  color: var(--primary);
}

.servicesCardSubTitleText {
  font-size: var(--font-lg);
  color: var(--primary);
  margin: 15px 0 25px 0;
}

.servicesHighLightText {
  color: var(--white);
}

.servicesReadMoreBtn {
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 7px;
  font-size: var(--font-lg);
  color: var(--primary);
  font-weight: 500;
  transition: all 400ms;
}
.servicesReadMoreBtn:hover {
  margin-left: 10px;
}

.servicesReadMoreBtnIcon {
  color: #27ae60;
  font-weight: 900;
  font-size: var(--font-2xl);
}

.servicesReadMoreHighLightBtn {
  color: var(--white);
}

.servicesReadMoreHighLightBtnIcon {
  color: var(--white);
}

@media screen and (max-width: 750px) {
  .servicesAllDataContainer {
    width: 90%;
    margin-top: 100px;
  }

  .servicesTitleTextContainer {
    flex-direction: column;
    padding-bottom: 50px;
  }

  .servicesCardContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .servicesCard {
    margin-top: 40px;
  }
}

@media screen and (max-width: 379px) {
  .servicesTitleText {
    font-size: 24px;
    line-height: 35px;
  }

  .servicesViewAllServicesBtn {
    font-size: 16px;
    gap: 10px;
    margin-top: 15px;
  }

  .servicesViewAllServicesIcon {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .servicesCard {
    padding: 35px 25px 25px 25px;
    margin-top: 50px;
  }

  .servicesCardImage {
    width: 50px;
    height: 50px;
    top: -35px;
  }

  .servicesCardTitleText {
    font-size: 18px;
  }

  .servicesCardSubTitleText {
    font-size: 14px;
    margin: 10px 0 15px 0;
  }

  .servicesReadMoreBtn {
    font-size: 14px;
  }

  .servicesReadMoreBtnIcon {
    font-size: 22px;
  }
}

@media screen and (min-width: 380px) and (max-width: 500px) {
  .servicesCard {
    padding: 35px 25px 25px 25px;
    margin-top: 50px;
  }

  .servicesTitleText {
    font-size: 30px;
    line-height: 45px;
  }

  .servicesCardImage {
    width: 53px;
    height: 53px;
    top: -36px;
  }

  .servicesCardTitleText {
    font-size: 20px;
  }

  .servicesCardSubTitleText {
    font-size: 16px;
    margin: 10px 0 15px 0;
  }

  .servicesViewAllServicesBtn {
    margin-top: 15px;
  }

  .servicesReadMoreBtn {
    font-size: 16px;
  }

  .servicesReadMoreBtnIcon {
    font-size: 22px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .servicesTitleText {
    font-size: 36px;
  }

  .servicesCard {
    margin-top: 50px;
  }

  .servicesCardImage {
    width: 62px;
    height: 62px;
  }

  .servicesCardSubTitleText {
    font-size: 16px;
  }

  .servicesViewAllServicesBtn {
    margin-top: 15px;
  }

  .servicesReadMoreBtn {
    font-size: 16px;
  }

  .servicesReadMoreBtnIcon {
    font-size: 24px;
  }
}

@media screen and (min-width: 751px) and (max-width: 950px) {
  .servicesAllDataContainer {
    width: 90%;
  }

  .servicesTitleText {
    font-size: 40px;
  }

  .servicesTitleTextContainer {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .servicesCard {
    padding: 40px 25px 25px 25px;
    margin-top: 50px;
  }

  .servicesCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .servicesCardImage {
    width: 52px;
    height: 52px;
    top: -33px;
  }

  .servicesCardTitleText {
    font-size: 22px;
  }

  .servicesCardSubTitleText {
    font-size: 16px;
    margin: 10px 0 15px 0;
  }

  .servicesViewAllServicesBtn {
    margin-top: 15px;
  }

  .servicesReadMoreBtn {
    font-size: 16px;
  }

  .servicesReadMoreBtnIcon {
    font-size: 24px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1200px) {
  .servicesAllDataContainer {
    width: 90%;
  }

  .servicesTitleTextContainer {
    padding-bottom: 50px;
  }

  .servicesTitleText {
    font-size: 35px;
  }

  .servicesCard {
    padding: 40px 25px 25px 25px;
    margin-top: 50px;
  }

  .servicesCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .servicesCardImage {
    width: 55px;
    height: 55px;
    top: -38px;
  }

  .servicesCardSubTitleText {
    font-size: 16px;
  }

  .servicesReadMoreBtn {
    font-size: 16px;
  }

  .servicesReadMoreBtnIcon {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .servicesAllDataContainer {
    width: 90%;
  }

  .servicesTitleTextContainer {
    padding-bottom: 55px;
  }

  .servicesTitleText {
    font-size: 35px;
  }

  .servicesCard {
    padding: 40px 25px 25px 25px;
    margin-top: 50px;
  }

  .servicesCardContainer {
    gap: 20px;
  }

  .servicesCardImage {
    width: 60px;
    height: 60px;
  }

  .servicesCardSubTitleText {
    font-size: 16px;
  }

  .servicesReadMoreBtn {
    font-size: 16px;
  }

  .servicesReadMoreBtnIcon {
    font-size: 24px;
  }
}
