.servicesAllDataContainer {
  position: relative;
  width: 80%;
  margin: 0 auto;
  z-index: 100;
}

.servicesTitleTextContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 93px 0;
}

.servicesTitleText {
  color: #1b3447;
  font-size: 45px;
  font-weight: 700;
}

.servicesViewAllServicesBtn {
  color: #1b3447;
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
}

.servicesViewAllServicesIcon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  padding: 7px;
  background-color: #d1e4fb;
  color: #4895ef;
  transition: all 400ms;
}

.servicesViewAllServicesIcon:hover {
  background-color: #a8c0df;
}

.servicesCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.servicesCard {
  position: relative;
  padding: 60px 30px 30px 30px;
  background-color: #f1f5f9;
  border-radius: 15px;
}

.servicesHighLightBg {
  background-color: #4895ef;
}

.servicesCardImage {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
}

.servicesCardTitleText {
  font-size: 24px;
  font-weight: 600;
  color: #1b3447;
}

.servicesCardSubTitleText {
  font-size: 18px;
  color: #1b3447;
  margin: 15px 0 25px 0;
}

.servicesHighLightText {
  color: #fff;
}

.servicesReadMoreBtn {
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 7px;
  font-size: 18px;
  color: #1b3447;
  font-weight: 500;
  transition: all 400ms;
}
.servicesReadMoreBtn:hover {
  margin-left: 10px;
}

.servicesReadMoreBtnIcon {
  color: #27ae60;
  font-weight: 900;
  font-size: 30px;
}

.servicesReadMoreHighLightBtn {
  color: #fff;
}

.servicesReadMoreHighLightBtnIcon {
  color: #fff;
}

@media screen and (max-width: 500px) {
  .servicesAllDataContainer {
    width: 90%;
  }

  .servicesTitleTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 93px 0 50px 0;
  }

  .servicesTitleText {
    font-size: 30px;
    font-weight: 700;
  }

  .servicesViewAllServicesBtn {
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;
  }

  .servicesViewAllServicesIcon {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    padding: 7px;
    background-color: #d1e4fb;
    color: #4895ef;
    transition: all 400ms;
  }

  .servicesCardContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .servicesCard {
    position: relative;
    padding: 60px 30px 30px 30px;
    margin-top: 40px;
  }

  .servicesCardImage {
    width: 55px;
    height: 55px;
    top: -35px;
  }

  .servicesCardTitleText {
    font-size: 22px;
  }

  .servicesCardSubTitleText {
    font-size: 16px;
    margin: 10px 0 20px 0;
  }

  .servicesReadMoreBtn {
    font-size: 16px;
    font-weight: 500;
  }

  .servicesReadMoreBtnIcon {
    font-size: 30px;
  }
}
