/* .CaseStudiesContainer {
  background-color: #d5d9e5;
}

.CaseStudiesAllDataContainer {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 165px 0;
}

.CaseStudiesTetx {
  font-size: 90px;
  font-weight: 700;
  color: #11112b;
}

.CaseStudiesFirstBoxContainer {
  background-color: #d9d9d9;
  width: 795px;
  height: 60vh;
  flex-shrink: 0;
}

.CaseStudiesBoxTitleText {
  display: flex;
  justify-content: flex-end;
} */
