.pricingsContainer {
  background-color: #11112b;
  color: #fff;
  padding: 100px 0;
}

.pricingsAllDataContainer {
  width: 85%;
  margin: 0 auto;
}

.pricingsHeaderDataContainer {
  text-align: center;
}

.pricingsHeaderText {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 5px;
}

.pricingsHeaderSubText {
  font-size: 20px;
  margin-top: 10px;
}

.pricingsAllCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 100px;
}

.pricingCardDataContainer {
  text-align: center;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  padding: 80px;
  margin-top: 50px;
}

.pricingCardHighlightBackground {
  background-color: #92deed;
  margin: 0px;
}

.pricingLevelText {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 15px;
}

.pricingPriceText {
  font-size: 90px;
  font-weight: 700;
}

.pricingPriceTextMo {
  font-size: 20px;
  font-weight: 400;
  margin-left: 5px;
}

.pricingServiceText {
  font-size: 20px;
  padding: 20px 0;
}

.pricingOrderNowBtn {
  background-color: #11112b;
  padding: 32px 90px;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  margin-top: 25px;
}

.pricingOrderNowBtnHighlightBackground {
  color: #92deed;
  background-color: #fff;
}

.pricingsCardHr {
  border: 1px solid #fff;
}
