.firstImageContainer {
  background-color: #ebebeb;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.firstImage {
  width: 70%;
  margin: 0 auto;
  height: 500px;
  padding: 20px;
}

.secondImageAllDataContainer {
  position: relative;
}

.secondImageContainer {
  margin-top: 25px;
  padding-right: 10px;
}

.secondImage {
  width: 100%;
  height: 125px;
  background-color: #ebebeb;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}

/* ---------------- */

.prevArrowContainer,
.nextArrowContainer {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: -40px;
  border: 1px solid #e0dede;
  border-radius: 5px;
  padding: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.prevArrowContainer {
  left: 0;
}

.nextArrowContainer {
  left: 40px;
}

.prevArrowContainer:hover {
  background-color: #0a85d1;
  color: #ffffff;
}

.nextArrowContainer:hover {
  background-color: #0a85d1;
  color: #ffffff;
}
