.blogsContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.blogCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 calc(50% - 20px);
  gap: 20px;
  padding: 1rem;
  width: 50%;
  height: 300px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  background: #fff;
}

.blogContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: flex-start;
  justify-content: space-around;
}

.createdDetails span {
  color: #1b3447;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.userIcon {
  color: #4895ef;
  font-size: 14px;
  font-weight: 900;
}

.calenderIcon {
  color: #4895ef;
  font-size: 14px;
  font-weight: 900;
}

.rightArrowIcon {
  color: #1b3447;
  font-size: 16px;
  font-weight: 900;
}

.blogCardImageContainer {
  overflow: hidden;
  width: 212px;
}

.blogImage {
  width: 176px;
  transition: all 0.5s;
}

.blogImage:hover {
  transform: scale(1.2);
}

.blogTitle {
  color: #1b3447;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.blogDescription {
  color: #797e88;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.blogBtn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  gap: 7px;
  width: 100%;
  color: #1b3447;
  transition: all 0.3s;
}

.blogBtn:hover {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .blogsContainer {
    width: 90%;
  }

  .blogCard {
    flex-direction: column;
    height: 100%;
  }

  .blogTitle {
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0 20px 0;
  }
}

@media screen and (max-width: 379px) {
  .blogCard {
    gap: 20px;
    padding: 1rem;
  }

  .blogCardImageContainer {
    width: 100%;
    height: 100%;
  }

  .blogImage {
    width: 300px;
    height: 300px;
  }

  .blogDescription {
    font-size: 16px;
    line-height: 25px;
  }

  .blogBtn {
    font-size: 16px;
    gap: 7px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 380px) and (max-width: 600px) {
  .blogCard {
    flex: 1 0 calc(50% - 0%);
  }

  .blogCardImageContainer {
    width: 100%;
    height: 300px;
  }

  .blogImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .blogBtn {
    font-size: 18px;
    gap: 7px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .blogCardImageContainer {
    width: 100%;
    height: 300px;
  }

  .blogImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .blogTitle {
    font-size: 18px;
  }

  .blogBtn {
    font-size: 16px;
    gap: 7px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 925px) and (max-width: 1300px) {
  .blogsContainer {
    width: 90%;
  }

  .blogCard {
    flex-direction: column;
    height: 100%;
  }

  .blogCardImageContainer {
    width: 100%;
    height: 300px;
  }

  .blogImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .blogTitle {
    font-size: 22px;
    line-height: 30px;
    margin: 10px 0 20px 0;
  }

  .blogBtn {
    font-size: 16px;
    gap: 7px;
    margin-top: 10px;
  }
}
