.blogsContainer {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.blogCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 calc(50% - 20px);
  gap: 20px;
  padding: 1rem;
  width: 50%;
  height: 300px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  background: #fff;
}

.blogContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: flex-start;
  justify-content: space-around;
}

.createdDetails span {
  color: #1b3447;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.userIcon {
  color: #4895ef;
  font-size: 14px;
  font-weight: 900;
}

.calenderIcon {
  color: #4895ef;
  font-size: 14px;
  font-weight: 900;
}

.rightArrowIcon {
  color: #1b3447;
  font-size: 16px;
  font-weight: 900;
}

.blogCardImageContainer {
  overflow: hidden;
  width: 212px;
}

.blogImage {
  width: 176px;
  transition: all 0.5s;
}

.blogImage:hover {
  transform: scale(1.2);
}

.blogTitle {
  color: #1b3447;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.blogDescription {
  color: #797e88;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.blogBtn {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  gap: 7px;
  width: 100%;
  color: #1b3447;
  transition: all 0.3s;
}

.blogBtn:hover {
  margin-left: 10px;
}
