.ourIntroductionAllDataContainer {
  margin-top: var(--section-top);
  overflow: hidden;
}

.ourIntroductionDataContainer {
  width: 80%;
  margin: 0 auto;
  max-width: 1550px;
}

.ourIntroductionSubTitleTextContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
}

.ourIntroductionSubTitleText {
  font-size: var(--font-2xl);
  font-weight: 600;
  color: var(--secondary);
}

.ourIntroductionSubTitleBorderLine {
  width: 35px;
  height: 3px;
  background-color: var(--secondary);
  margin-top: 15px;
}

.ourIntroductionTitleText {
  font-size: var(--font-5xl);
  font-weight: 700;
  color: var(--primary);
  line-height: 58px;
  margin-top: var(--margin-2);
}

.ourIntroductionMainDataContainer {
  margin-top: var(--margin-6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ourIntroductionMainDataImageContainer {
  position: relative;
  width: 50%;
  height: 100%;
}

.ourIntroductionMainDataTextContainer {
  width: 50%;
  height: 100%;
}

.ourIntroductionExpetriseBoxContainer {
  position: absolute;
  top: 42px;
  left: 257px;
  width: 355px;
  height: 320px;
  background-color: var(--white);
  box-shadow: 0px 15px 50px 0px rgba(55, 52, 170, 0.15);
}

.ourIntroductionExpetriseBoxTitle {
  padding: 25px 25px 0 25px;
  color: var(--primary);
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 550;
}

.ourIntroductionExpetriseBoxHrLine {
  opacity: 0.25;
  background: #797e88;
  width: 100%;
  height: 1px;
}

.ourIntroductionExpetriseBoxLevelContainer {
  padding: 0 0 25px 25px;
  display: flex;
  align-items: center;
  gap: var(--gap-1);
  margin-top: var(--margin-2);
}

.ourIntroductionExpetriseBoxLevelItemContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.ourIntroductionExpetriseBoxLevelItemText {
  font-size: var(--font-sm);
  font-weight: 600;
  color: #000;
  line-height: 24px;
}

.ourIntroductionExpetriseLevelItemContainer {
  display: flex;
  gap: var(--gap-9);
  align-items: center;
  justify-content: space-between;
}

.ourIntroductionExpetriseLeveLineImage {
  width: 100%;
  height: 100%;
}

.ourIntroductionExpetriseBoxHLineImage {
  width: 12px;
  height: 100%;
}

/* .................. */

.ourIntroductionMainSubText {
  color: #797e88;
  font-size: var(--font-lg);
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 26px;
}
.ourIntoItemsContainer {
  display: flex;
  gap: var(--gap-3);
  flex-wrap: wrap;
  width: 70%;
  color: #797e88;
  font-size: var(--font-lg);
  font-weight: 500;
  margin-bottom: 50px;
}

.ourIntoItemsList {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
}

.ourIntroductionGetStBtn {
  padding: 16px 42px;
  background-color: var(--secondary);
  font-size: var(--font-lg);
  font-weight: 600;
  color: var(--white);
  text-decoration: none;
  border-radius: 6px;
}

.ourIntoTPRCardContainer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: var(--gap-2);
}

.ourIntoTPRCardDataContainer {
  text-align: center;
}

.ourIntoTPRCardDataNumberText {
  text-align: center;
  color: var(--primary);
  font-size: var(--font-4xl);
  font-weight: 600;
  line-height: 46px;
}

.ourIntoTPRCardDataCategortText {
  text-align: center;
  font-size: var(--font-lg);
  color: var(--primary);
  line-height: 28px;
}

@media screen and (max-width: 1100px) {
  .ourIntroductionDataContainer {
    width: 90%;
  }

  .ourIntroductionSubTitleTextContainer {
    justify-content: center;
    gap: 10px;
  }

  .ourIntroductionGetStBtn {
    padding: 14px 70px;
    font-size: 16px;
  }

  .ourIntroductionMainDataTextContainer {
    width: 100%;
  }
}

@media screen and (max-width: 379px) {
  .ourIntroductionSubTitleText {
    font-size: 16px;
  }

  .ourIntroductionSubTitleBorderLine {
    width: 30px;
    height: 2px;
    margin-top: 10px;
  }

  .ourIntroductionTitleText {
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    margin: 10px 0 20px 0;
  }

  .ourIntroductionMainDataContainer {
    text-align: center;
    margin-top: 0;
  }

  /* ................. */

  .ourIntroductionMainDataImageContainer {
    display: none;
  }

  /* .................. */

  .ourIntroductionMainSubText {
    font-size: 14px;
    line-height: 24px;
  }

  .ourIntoItemsContainer {
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 14px;
  }

  .ourIntoItemsList {
    gap: 8px;
  }

  .ourIntoItemsListIcon {
    width: 16px;
    height: 16px;
  }

  .ourIntoTPRCardContainer {
    display: flex;
    gap: 0px;
    justify-content: space-between;
  }

  .ourIntoTPRCardDataNumberText {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }

  .ourIntoTPRCardIcon {
    width: 30px;
    height: 30px;
  }

  .ourIntoTPRCardDataCategortText {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (min-width: 380px) and (max-width: 550px) {
  .ourIntroductionSubTitleTextContainer {
    justify-content: center;
  }

  .ourIntroductionSubTitleText {
    font-size: 18px;
  }

  .ourIntroductionSubTitleBorderLine {
    height: 2px;
  }

  .ourIntroductionTitleText {
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    margin-top: 20px;
  }

  .ourIntroductionMainDataContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .ourIntroductionMainDataImageContainer {
    width: 350px;
    height: 100%;
    margin: 0 auto;
  }

  .ourIntroductionMainDataTextContainer {
    text-align: center;
    width: 100%;
  }

  .ourourIntroductionMainDataImage {
    width: 200px;
    height: 190px;
  }

  .ourIntroductionExpetriseBoxContainer {
    top: 35px;
    left: 135px;
    width: 215px;
    height: 220px;
  }

  .ourIntroductionExpetriseBoxTitle {
    font-size: 12px;
    padding: 10px;
    line-height: 16px;
    margin-bottom: 0px;
  }

  .ourIntroductionExpetriseBoxLevelContainer {
    margin-top: 8px;
    padding: 0 15px 15px 15px;
  }

  .ourIntroductionExpetriseBoxLevelItemContainer {
    gap: 0px;
  }

  .ourIntroductionExpetriseBoxLevelItemText {
    font-size: 10px;
    line-height: 16px;
  }

  .ourIntroductionExpetriseLevelItemContainer {
    gap: 90px;
    font-size: 10px;
    line-height: 12px;
    margin-top: 8px;
  }

  .ourIntroductionExpetriseBoxHLineImage {
    width: 14px;
  }

  /* .................. */

  .ourIntroductionMainSubText {
    text-align: center;
    margin-top: 100px;
    font-size: 16px;
  }

  .ourIntoItemsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 16px;
  }

  .ourIntoItemsList {
    gap: 10px;
  }

  .ourIntroductionGetStBtn {
    padding: 14px 100px;
    font-size: 16px;
  }

  .ourIntoItemsListIcon {
    width: 18px;
    height: 18px;
  }

  .ourIntoTPRCardContainer {
    display: flex;
    justify-content: space-around;
    gap: 0px;
  }

  .ourIntoTPRCardDataNumberText {
    font-size: 22px;
    line-height: 40px;
  }

  .ourIntoTPRCardIcon {
    width: 40px;
    height: 40px;
  }

  .ourIntoTPRCardDataCategortText {
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (min-width: 450px) and (max-width: 550px) {
  .ourIntroductionMainDataImageContainer {
    width: 400px;
    height: 100%;
    margin: 0 auto;
  }

  .ourourIntroductionMainDataImage {
    width: 250px;
    height: 240px;
  }

  .ourIntroductionExpetriseBoxContainer {
    top: 35px;
    left: 155px;
    width: 240px;
    height: 240px;
  }

  .ourIntroductionExpetriseBoxTitle {
    font-size: 12px;
    padding: 15px 15px 10px 15px;
    line-height: 18px;
    margin-bottom: 0px;
  }

  .ourIntroductionExpetriseBoxLevelContainer {
    margin-top: 5px;
  }

  .ourIntroductionExpetriseBoxLevelItemText {
    font-size: 14px;
    line-height: 16px;
  }

  .ourIntroductionExpetriseLevelItemContainer {
    gap: 90px;
    margin-top: 16px;
  }

  .ourIntroductionExpetriseBoxHLineImage {
    width: 12px;
  }
}

@media screen and (min-width: 551px) and (max-width: 800px) {
  .ourIntroductionSubTitleTextContainer {
    justify-content: center;
  }

  .ourIntroductionSubTitleText {
    font-size: 20px;
  }

  .ourIntroductionSubTitleBorderLine {
    height: 2px;
  }

  .ourIntroductionTitleText {
    text-align: center;
    font-size: 36px;
    line-height: 45px;
    margin: 20px 0 30px 0;
  }

  .ourIntroductionMainDataContainer {
    display: flex;
    flex-direction: column;
  }

  .ourIntroductionMainDataImageContainer {
    width: 500px;
    height: 100%;
    margin: 0 auto;
  }

  .ourIntroductionMainDataTextContainer {
    text-align: center;
    width: 100%;
  }

  .ourourIntroductionMainDataImage {
    width: 300px;
    height: 290px;
  }

  .ourIntroductionExpetriseBoxContainer {
    top: 35px;
    left: 199px;
    width: 300px;
    height: 300px;
  }

  .ourIntroductionExpetriseBoxTitle {
    font-size: 16px;
    padding: 20px 20px 0px 20px;
    line-height: 26px;
  }

  .ourIntroductionExpetriseBoxLevelContainer {
    padding: 0 10px 10px 20px;
  }

  .ourIntroductionExpetriseBoxLevelItemContainer {
    gap: 10px;
  }

  .ourIntroductionExpetriseBoxLevelItemText {
    font-size: 13px;
    line-height: 24px;
  }

  .ourIntroductionExpetriseLevelItemContainer {
    gap: 90px;
  }

  .ourIntroductionExpetriseBoxHLineImage {
    width: 12px;
  }

  /* .................. */

  .ourIntroductionMainSubText {
    text-align: center;
    margin-top: 100px;
    font-size: 16px;
  }

  .ourIntoItemsContainer {
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 16px;
  }

  .ourIntoItemsList {
    gap: 10px;
  }

  .ourIntroductionGetStBtn {
    padding: 14px 100px;
    font-size: 16px;
  }

  .ourIntoItemsListIcon {
    width: 20px;
    height: 20px;
  }

  .ourIntoTPRCardContainer {
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }

  .ourIntoTPRCardDataNumberText {
    font-size: 30px;
  }

  .ourIntoTPRCardIcon {
    width: 45px;
    height: 45px;
  }

  .ourIntoTPRCardDataCategortText {
    font-size: 16px;
    text-align: center;
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .ourIntroductionMainDataImageContainer {
    width: 500px;
    height: 100%;
    margin: 0 auto;
  }

  .ourourIntroductionMainDataImage {
    width: 320px;
    height: 310px;
  }

  .ourIntroductionExpetriseBoxContainer {
    left: 220px;
    width: 320px;
    height: 320px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
  .ourIntroductionSubTitleTextContainer {
    justify-content: center;
  }

  .ourIntroductionSubTitleText {
    font-size: 22px;
  }

  .ourIntroductionSubTitleBorderLine {
    width: 30px;
    height: 2px;
  }

  .ourIntroductionTitleText {
    margin: 20px 0 30px 0;
    text-align: center;
    font-size: 40px;
  }

  .ourIntroductionMainDataContainer {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .ourIntroductionMainDataImageContainer {
    width: 600px;
    height: 100%;
    margin: 0 auto;
  }

  .ourIntroductionMainDataTextContainer {
    text-align: center;
    width: 100%;
  }

  .ourIntroductionExpetriseBoxContainer {
    left: 260px;
  }

  /* .................. */

  .ourIntroductionMainSubText {
    text-align: center;
    margin: 50px 0 30px 0;
    font-size: 18px;
  }

  .ourIntoItemsContainer {
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 18px;
  }

  .ourIntoItemsList {
    gap: 10px;
  }

  .ourIntroductionGetStBtn {
    padding: 14px 100px;
    font-size: 16px;
  }

  .ourIntoItemsListIcon {
    width: 20px;
    height: 20px;
  }

  .ourIntoTPRCardContainer {
    width: 90%;
    margin: 50px auto;
    justify-content: space-around;
    gap: 10px;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1400px) {
  .ourIntroductionAllDataContainer {
    margin-top: 100px;
    overflow: visible;
  }

  .ourIntroductionDataContainer {
    width: 90%;
  }

  .ourIntroductionSubTitleText {
    font-size: 22px;
  }

  .ourIntroductionTitleText {
    font-size: 45px;
    margin: 20px 0 30px 0;
  }

  .ourIntroductionMainDataContainer {
    margin-top: 0;
    gap: 100px;
  }

  .ourourIntroductionMainDataImage {
    width: 310px;
    height: 300px;
  }

  .ourIntroductionExpetriseBoxContainer {
    left: 210px;
    width: 310px;
    height: 310px;
  }

  .ourIntroductionExpetriseBoxTitle {
    padding: 20px 20px 0 20px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .ourIntroductionExpetriseBoxLevelContainer {
    padding: 15px;
    margin-top: 0;
  }

  .ourIntroductionExpetriseBoxLevelItemContainer {
    gap: 10px;
  }

  .ourIntroductionExpetriseBoxLevelItemText {
    font-size: 14px;
  }

  .ourIntroductionExpetriseBoxHLineImage {
    width: 12px;
  }

  /* .................. */

  .ourIntroductionMainSubText {
    font-size: 16px;
  }

  .ourIntoItemsContainer {
    gap: 20px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 40px;
  }

  .ourIntoItemsList {
    gap: 8px;
  }

  .ourIntroductionGetStBtn {
    padding: 13px 42px;
    font-size: 16px;
  }

  .ourIntoTPRCardContainer {
    margin-top: 40px;
    gap: 10px;
  }

  .ourIntoTPRCardDataNumberText {
    font-size: 24px;
  }

  .ourIntoTPRCardDataCategortText {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1401px) and (max-width: 1705px) {
  .ourIntroductionAllDataContainer {
    margin-top: 100px;
    overflow: visible;
  }

  .ourIntroductionDataContainer {
    width: 90%;
  }

  .ourIntroductionSubTitleText {
    font-size: 22px;
  }

  .ourIntroductionTitleText {
    font-size: 45px;
    margin: 20px 0 30px 0;
  }

  .ourIntroductionMainDataContainer {
    margin-top: 0;
    gap: 0px;
  }

  .ourourIntroductionMainDataImage {
    width: 310px;
    height: 300px;
  }

  .ourIntroductionExpetriseBoxContainer {
    left: 210px;
    width: 310px;
    height: 310px;
  }

  .ourIntroductionExpetriseBoxTitle {
    padding: 20px 20px 0 20px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .ourIntroductionExpetriseBoxLevelContainer {
    padding: 15px;
    margin-top: 0;
  }

  .ourIntroductionExpetriseBoxLevelItemContainer {
    gap: 10px;
  }

  .ourIntroductionExpetriseBoxLevelItemText {
    font-size: 14px;
  }

  .ourIntroductionExpetriseBoxHLineImage {
    width: 12px;
  }

  /* .................. */

  .ourIntoItemsContainer {
    width: 100%;
  }

  .ourIntoItemsList {
    gap: 8px;
  }

  .ourIntroductionGetStBtn {
    padding: 13px 42px;
    font-size: 16px;
  }

  .ourIntoTPRCardContainer {
    margin-top: 40px;
    gap: 10px;
  }

  .ourIntoTPRCardDataNumberText {
    font-size: 28px;
  }

  .ourIntoTPRCardDataCategortText {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1705px) {
  .ourIntoItemsContainer {
    width: 80%;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1705px) {
  .ourIntroductionMainDataTextContainer {
    width: 55%;
  }
}
