.aboutAllDataContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: var(--section-top);
  overflow: hidden;
}

.aboutDataContainer {
  width: 100%;
  margin: var(--margin-8) auto;
  display: flex;
  gap: var(--gap-8);
  justify-content: center;
  align-items: center;
}

.aboutHeaderTitleText {
  font-size: var(--font-5xl);
  font-weight: 700;
  line-height: 58px;
  color: var(--primary);
  text-align: center;
}

.aboutImageAllDataContainer {
  position: relative;
  display: flex;
  gap: var(--gap-3);
}

.aboutTextDataContainer {
  width: 50%;
}

.aboutTitleText {
  font-size: var(--font-2xl);
  color: var(--primary);
  font-weight: 600;
  line-height: 34px;
}

.aboutSubTitleText {
  font-size: var(--font-lg);
  color: var(--primary);
  line-height: 28px;
  margin: var(--margin-3) 0;
}

.aboutServicesItemContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-3);
}

.aboutServicesItem {
  display: flex;
  align-content: center;
  gap: var(--gap-1);
  font-size: var(--font-sm);
  color: var(--primary);
}

.aboutCEOAllDataContainer {
  margin: var(--margin-4) 0 var(--margin-5) 0;
  display: flex;
  gap: 30%;
  align-items: center;
}

.aboutCEOContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-2);
}

.aboutCEONameText {
  font-size: var(--font-2xl);
  font-weight: 600;
  color: #191919;
}

.aboutCEOText {
  font-size: var(--font-lg);
  color: #808285;
  margin-top: var(--margin-1);
}

.aboutDiscoverMoreBtn {
  padding: 17px 40px;
  background-color: var(--secondary);
  border-radius: 5px;
  text-decoration: none;
  font-size: var(--font-lg);
  color: var(--white);
}

.aboutFirstImageDataContainer {
  position: relative;
}

.aboutFirstImage {
  width: 100%;
  height: 401px;
  position: relative;
}
.aboutFirstImageFrame1 {
  position: absolute;
  bottom: 19px;
  left: 85px;
}

.aboutFirstImageFrame2 {
  width: 93px;
  height: 93px;
  position: absolute;
  top: -45px;
  right: -45px;
}

.aboutSecondImageDataContainer {
  position: relative;
  margin-top: 73px;
}

.aboutSecondImage {
  position: relative;
  width: 100%;
  height: 418px;
}

.aboutSecondImageDesignIcon {
  width: 152px;
  height: 159px;
  position: absolute;
  top: -80px;
  right: -50px;
}

.aboutSecondImageRectangleTopIcon {
  width: 171px;
  height: 175px;
  position: absolute;
  bottom: 5px;
  left: 0;
}

.aboutSecondImageRectangleLeftIcon {
  width: 171px;
  height: 175px;
  position: absolute;
  right: 0;
}

.aboutSecondImageDottedFrameIcon {
  width: 70px;
  height: 260px;
  position: absolute;
  right: -100px;
  top: 78px;
}

.aboutSecondImagePlayButtonIcon {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 110px;
  top: 170px;
}

@media screen and (max-width: 1000px) {
  .aboutAllDataContainer {
    width: 90%;
    margin-top: 100px;
  }

  .aboutDataContainer {
    width: 100%;
    margin: 60px auto;
    flex-direction: column-reverse;
  }

  .aboutTitleText {
    text-align: center;
  }

  .aboutSubTitleText {
    text-align: center;
  }

  .aboutServicesItem {
    align-items: center;
  }

  .aboutTextDataContainer {
    width: 100%;
  }

  .aboutCEOAllDataContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .aboutCEOContainer {
    flex-direction: column;
    align-items: center;
  }

  .aboutCEONameText {
    font-size: 20px;
  }

  .aboutCEOText {
    font-size: 15px;
    margin-top: 5px;
  }

  .aboutDiscoverMoreBtn {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .aboutSecondImageDesignIcon {
    width: 60px;
    height: 60px;
    top: -30px;
    right: -25px;
  }

  .aboutSecondImageRectangleTopIcon {
    width: 70px;
    height: 70px;
  }

  .aboutSecondImageDottedFrameIcon {
    display: none;
  }

  .aboutServicesItemContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .aboutServicesItem {
    gap: 12px;
    font-size: 15px;
  }
}

@media screen and (max-width: 379px) {
  .aboutAllDataContainer {
    width: 95%;
  }

  .aboutHeaderTitleText {
    font-size: 24px;
    line-height: 35px;
  }

  .aboutImageAllDataContainer {
    gap: 10px;
  }

  .aboutTitleText {
    font-size: 18px;
    line-height: 30px;
  }

  .aboutSubTitleText {
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0 30px 0;
  }

  .aboutServicesItem {
    align-items: center;
    gap: 8px;
    font-size: 12px;
  }

  .aboutFirstImage {
    height: 180px;
  }

  .aboutFirstImageFrame1 {
    width: 50px;
    height: 50px;
    bottom: -8px;
    left: 85px;
  }

  .aboutFirstImageFrame2 {
    width: 40px;
    height: 40px;
    top: -20px;
    right: -20px;
  }

  .aboutSecondImageDataContainer {
    margin-top: 40px;
  }

  .aboutSecondImage {
    height: 180px;
  }

  .aboutSecondImageRectangleLeftIcon {
    width: 60px;
    height: 60px;
  }

  .aboutSecondImageRectangleTopIcon {
    width: 60px;
    height: 60px;
  }

  .aboutSecondImagePlayButtonIcon {
    width: 40px;
    height: 40px;
    left: 40px;
    top: 90px;
  }

  .aboutCEONameText {
    font-size: 18px;
  }

  .aboutCEOText {
    font-size: 14px;
  }
}

@media screen and (min-width: 380px) and (max-width: 500px) {
  .aboutAllDataContainer {
    width: 95%;
  }

  .aboutHeaderTitleText {
    font-size: 30px;
    line-height: 45px;
  }

  .aboutImageAllDataContainer {
    gap: 15px;
  }

  .aboutTitleText {
    font-size: 22px;
  }

  .aboutSubTitleText {
    font-size: 16px;
    margin: 20px 0 30px 0;
  }

  .aboutServicesItem {
    gap: 8px;
    font-size: 14px;
  }

  .aboutFirstImage {
    height: 215px;
  }

  .aboutFirstImageFrame1 {
    width: 55px;
    height: 55px;
    bottom: -10px;
    left: 85px;
  }

  .aboutFirstImageFrame2 {
    width: 50px;
    height: 48px;
    top: -20px;
    right: -24px;
  }

  .aboutSecondImageDataContainer {
    margin-top: 40px;
  }

  .aboutSecondImage {
    height: 215px;
  }

  .aboutSecondImageRectangleLeftIcon {
    width: 70px;
    height: 70px;
  }

  .aboutSecondImageRectangleTopIcon {
    width: 70px;
    height: 70px;
  }

  .aboutSecondImagePlayButtonIcon {
    width: 50px;
    height: 50px;
    left: 45px;
    top: 100px;
  }

  .aboutCEONameText {
    font-size: 18px;
  }

  .aboutCEOText {
    font-size: 14px;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .aboutHeaderTitleText {
    font-size: 36px;
  }

  .aboutImageAllDataContainer {
    gap: 20px;
  }

  .aboutSubTitleText {
    font-size: 16px;
    margin: 20px 0 30px 0;
  }

  .aboutServicesItem {
    gap: 10px;
    font-size: 16px;
  }

  .aboutFirstImage {
    height: 300px;
  }

  .aboutFirstImageFrame1 {
    width: 70px;
    height: 70px;
    bottom: -8px;
  }

  .aboutFirstImageFrame2 {
    width: 60px;
    height: 60px;
    top: -30px;
    right: -30px;
  }

  .aboutSecondImage {
    height: 300px;
  }

  .aboutSecondImageRectangleLeftIcon {
    width: 70px;
    height: 70px;
  }
  .aboutSecondImageRectangleTopIcon {
    width: 70px;
    height: 70px;
  }

  .aboutSecondImagePlayButtonIcon {
    width: 65px;
    height: 65px;
    left: 65px;
    top: 130px;
  }

  .aboutCEOAllDataContainer {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  .aboutCEOContainer {
    flex-direction: row;
    justify-content: left;
  }

  .aboutCEONameText {
    font-size: 18px;
  }

  .aboutCEOText {
    font-size: 14px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .aboutHeaderTitleText {
    font-size: 40px;
  }

  .aboutSubTitleText {
    font-size: 16px;
  }

  .aboutFirstImage {
    height: 370px;
  }

  .aboutFirstImageFrame1 {
    width: 90px;
    height: 90px;
    bottom: -20px;
  }

  .aboutFirstImageFrame2 {
    width: 70px;
    height: 70px;
    top: -33px;
    right: -33px;
  }

  .aboutSecondImage {
    height: 370px;
  }

  .aboutSecondImageRectangleLeftIcon {
    width: 100px;
    height: 100px;
  }
  .aboutSecondImageRectangleTopIcon {
    width: 100px;
    height: 100px;
  }

  .aboutSecondImagePlayButtonIcon {
    width: 75px;
    height: 75px;
    left: 90px;
    top: 150px;
  }

  .aboutSecondImageDesignIcon {
    width: 85px;
    height: 85px;
    top: -42px;
    right: -40px;
  }

  .aboutCEOAllDataContainer {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  .aboutCEOContainer {
    flex-direction: row;
    justify-content: left;
  }

  .aboutCEONameText {
    font-size: 18px;
  }

  .aboutCEOText {
    font-size: 14px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
  .aboutAllDataContainer {
    margin-top: 100px;
    width: 90%;
  }

  .aboutDataContainer {
    width: 100%;
    gap: 30px;
  }

  .aboutHeaderTitleText {
    font-size: 45px;
  }

  .aboutImageAllDataContainer {
    gap: 20px;
  }

  .aboutTextDataContainer {
    width: 50%;
  }

  .aboutTitleText {
    font-size: 18px;
  }

  .aboutSubTitleText {
    font-size: 16px;
    margin: 10px 0 20px 0;
  }

  .aboutServicesItemContainer {
    row-gap: 30px;
    column-gap: 20px;
  }

  .aboutServicesItem {
    gap: 8px;
  }

  .aboutCEOAllDataContainer {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  .aboutCEOContainer {
    flex-direction: column;
    text-align: center;
  }

  .aboutCEONameText {
    font-size: 20px;
  }

  .aboutCEOText {
    font-size: 14px;
    margin: 8px 0 0 0;
  }

  .aboutFirstImage {
    height: 325px;
  }

  .aboutFirstImageFrame1 {
    width: 70px;
    height: 70px;
    bottom: -10px;
  }

  .aboutFirstImageFrame2 {
    width: 60px;
    height: 60px;
    top: -30px;
    right: -30px;
  }

  .aboutSecondImageDataContainer {
    margin-top: 60px;
  }

  .aboutSecondImage {
    width: 100%;
    height: 320px;
  }

  .aboutSecondImageDesignIcon {
    width: 90px;
    height: 90px;
    top: -45px;
    right: -44px;
  }

  .aboutSecondImageRectangleTopIcon {
    width: 100px;
    height: 100px;
  }

  .aboutSecondImageRectangleLeftIcon {
    width: 100px;
    height: 100px;
  }

  .aboutSecondImageDottedFrameIcon {
    display: none;
  }

  .aboutSecondImagePlayButtonIcon {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 110px;
    top: 170px;
  }
}
