.aboutHomeAllTitleContainer {
  padding: 175px 0;
  width: 65%;
  margin: 0 auto;
}

.aboutHomeFirstTitleContainer {
  display: flex;
  gap: 40px;
  align-items: center;
}

.aboutHomeFirstTitleFirstText {
  font-size: 100px;
  color: #fff;
  font-weight: 700;
  line-height: 90px;
}

.aboutHomeFirstTitleSecondText {
  color: #fff;
  font-size: 95px;
  font-weight: 300;
  line-height: 90px;
  font-style: italic;
}

.aboutHomeSecondTitleContainer {
  display: flex;
  gap: 24px;
  align-items: center;
}

.aboutHomeSecondTitleFirstText {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
}

.aboutHomeSecondTitleSecondText {
  font-size: 100px;
  background: linear-gradient(97deg, #92deed 30.1%, #fff 94.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutHomeLearnMoreDataContainer {
  margin-top: 100px;
  display: flex;
  gap: 180px;
  align-items: center;
}

.aboutHomeLearnMoreDataContainerTitleLeftBorder {
  width: 1.5rem;
  height: 5.8rem;
  background-color: #92deed;
}

.aboutHomeLearnMoreDataContainerTitle {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 45px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.aboutHomeLearnMoreDataContainerBtn {
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 26px 46px;
  border-radius: 15px;
  border: 1px solid #fff;
  background-color: #11112b;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
