.clientsFeedbackAllDatContainer {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.clientsFeedbackHeaderTitleTextContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.clientsFeedbackHeaderTitleText {
  font-size: 24px;
  text-transform: capitalize;
  color: #4895ef;
  font-weight: 600;
}

.clientsFeedbackHeaderTitleTextHrLine {
  width: 35px;
  height: 3px;
  background-color: #4895ef;
  margin-top: 18px;
}

.clientsFeedbackCardContainer {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.clientsFeedbackCardHeaderLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
}

.clientsFeedbackCardStart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.clientsFeedbackCard {
  padding: 40px 20px;
}

.clientsFeedbackCardTitleText {
  color: #797e88;
  line-height: 28px;
  margin-top: 20px;
}

.clientsFeedbackTitleText {
  font-size: 48px;
  font-weight: 700;
  color: #1b3447;
  width: 30%;
  line-height: 56px;
  margin-top: 25px;
}

.clientsFeedbackCardDataContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 35px;
}

.clientsFeedbackCardHrLine {
  margin-top: 40px;
  border-bottom: 3px solid #4895ef;
}

.clientsFeedbackCardName {
  font-size: 20px;
  color: #1b3447;
  font-weight: 700;
  text-transform: capitalize;
}

.clientsFeedbackCardService {
  font-size: 14px;
  color: #687179;
  text-transform: capitalize;
}

/* ...Arrow Container style... */
.nextArrowContainer {
  color: #fff;
  background-color: #4895ef;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  padding: 14px;
  cursor: pointer;
  position: absolute;
  top: -100px;
  right: 0;
}

.prevArrowContainer {
  color: #fff;
  background-color: #4895ef;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  padding: 14px;
  cursor: pointer;
  position: absolute;
  top: -100px;
  right: 85px;
}

@media screen and (max-width: 500px) {
  .clientsFeedbackAllDatContainer {
    width: 90%;
  }

  .clientsFeedbackHeaderTitleTextContainer {
    justify-content: center;
    gap: 12px;
  }

  .clientsFeedbackHeaderTitleText {
    font-size: 16px;
  }

  .clientsFeedbackHeaderTitleTextHrLine {
    width: 25px;
    height: 2px;
  }

  .clientsFeedbackCard {
    padding: 25px 10px;
  }

  .clientsFeedbackCardTitleText {
    font-size: 14px;
    line-height: 26px;
  }

  .clientsFeedbackTitleText {
    text-align: center;
    font-size: 28px;
    width: 100%;
    line-height: 42px;
    margin-top: 10px;
    margin-bottom: 80px;
  }

  .clientsFeedbackCardDataContainer {
    margin-top: 25px;
  }

  .clientsFeedbackCardHrLine {
    margin-top: 30px;
    border-bottom: 1.5px solid #4895ef;
  }

  .clientsFeedbackCardName {
    font-size: 17px;
  }

  .clientsFeedbackCardService {
    font-size: 13px;
  }

  .clientsFeedbackLogo {
    width: 30px;
    height: 25px;
  }

  .clientsFeedbackStartImage {
    width: 20px;
    height: 20px;
  }

  .clientsFeedbackClientsImage {
    width: 45px;
    height: 45px;
  }

  /* ...Arrow Container style... */
  .nextArrowContainer {
    width: 45px;
    height: 45px;
    padding: 12px;
    top: -50px;
    right: 30%;
  }

  .prevArrowContainer {
    width: 45px;
    height: 45px;
    padding: 12px;
    top: -50px;
    left: 30%;
  }
}

@media screen and (min-width: 390px) and (max-width: 500px) {
  /* ...Arrow Container style... */
  .nextArrowContainer {
    width: 45px;
    height: 45px;
    padding: 12px;
    top: -50px;
    right: 32%;
  }

  .prevArrowContainer {
    width: 45px;
    height: 45px;
    padding: 12px;
    top: -50px;
    left: 30%;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  .clientsFeedbackAllDatContainer {
    width: 90%;
  }

  .clientsFeedbackHeaderTitleTextContainer {
    justify-content: center;
    gap: 10px;
  }

  .clientsFeedbackHeaderTitleText {
    font-size: 17.5px;
  }

  .clientsFeedbackHeaderTitleTextHrLine {
    width: 25px;
    height: 2px;
  }

  .clientsFeedbackTitleText {
    text-align: center;
    font-size: 35px;
    width: 100%;
    line-height: 42px;
    margin-top: 15px;
    margin-bottom: 100px;
  }

  .clientsFeedbackCardDataContainer {
    margin-top: 25px;
  }

  .clientsFeedbackCardHrLine {
    margin-top: 30px;
  }

  .clientsFeedbackCardName {
    font-size: 18px;
  }

  .clientsFeedbackLogo {
    width: 35px;
    height: 30px;
  }

  .clientsFeedbackStartImage {
    width: 25px;
    height: 25px;
  }

  .clientsFeedbackClientsImage {
    width: 50px;
    height: 50px;
  }

  /* ...Arrow Container style... */
  .nextArrowContainer {
    width: 45px;
    height: 45px;
    padding: 12px;
    top: -50px;
    right: 33%;
  }

  .prevArrowContainer {
    width: 45px;
    height: 45px;
    padding: 12px;
    top: -50px;
    left: 33%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .clientsFeedbackAllDatContainer {
    width: 90%;
  }

  .clientsFeedbackHeaderTitleTextContainer {
    gap: 10px;
  }

  .clientsFeedbackHeaderTitleText {
    font-size: 20px;
  }

  .clientsFeedbackHeaderTitleTextHrLine {
    width: 30px;
    height: 2px;
  }

  .clientsFeedbackTitleText {
    font-size: 40px;
    width: 100%;
    line-height: 42px;
    margin-top: 15px;
    margin-bottom: 100px;
  }

  .clientsFeedbackCardDataContainer {
    margin-top: 25px;
  }

  .clientsFeedbackCardHrLine {
    margin-top: 30px;
  }

  .clientsFeedbackCardName {
    font-size: 19px;
  }

  .clientsFeedbackLogo {
    width: 35px;
    height: 30px;
  }

  .clientsFeedbackStartImage {
    width: 22px;
    height: 22px;
  }

  .clientsFeedbackClientsImage {
    width: 45px;
    height: 45px;
  }

  /* ...Arrow Container style... */
  .nextArrowContainer {
    width: 45px;
    height: 45px;
    padding: 12px;
  }

  .prevArrowContainer {
    width: 45px;
    height: 45px;
    padding: 12px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .clientsFeedbackAllDatContainer {
    width: 90%;
  }

  .clientsFeedbackHeaderTitleTextContainer {
    gap: 12px;
  }

  .clientsFeedbackHeaderTitleText {
    font-size: 22px;
  }

  .clientsFeedbackTitleText {
    font-size: 42px;
    width: 100%;
  }

  .clientsFeedbackLogo {
    width: 40px;
    height: 35px;
  }

  .clientsFeedbackStartImage {
    width: 25px;
    height: 25px;
  }

  .clientsFeedbackClientsImage {
    width: 50px;
    height: 50px;
  }

  /* ...Arrow Container style... */
  .nextArrowContainer {
    width: 45px;
    height: 45px;
    padding: 12px;
  }

  .prevArrowContainer {
    width: 45px;
    height: 45px;
    padding: 12px;
  }
}
