.faqAllDataContainer {
  background-color: #f1f5f9;
  position: relative;
  margin-top: var(--section-top);
  overflow: hidden;
}

.faqDataContainer {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  gap: var(--gap-9);
}

.faqTitleText {
  font-size: var(--font-5xl);
  font-weight: 700;
  color: var(--primary);
  line-height: 58px;
}

.faqMenImageContainer {
  position: relative;
}

.faqMenImage {
  width: 580px;
  height: 600px;
}

.faqCompoContainer {
  margin-top: var(--margin-6);
}

.faqFrameImage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 118px;
  height: 155px;
}

.faqFrame2Image {
  position: absolute;
  right: 500px;
  opacity: 0.65;
  width: 142px;
  height: 58px;
}

.faqStart1Image {
  width: 20px;
  height: 30px;
  position: absolute;
  left: 83px;
  bottom: 185px;
}

.faqStart2Image {
  width: 20px;
  height: 30px;
  position: absolute;
  left: 143px;
  top: 80px;
}

.faqStart3Image {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 385px;
  right: 760px;
}

.faqStart4Image {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 26px;
  right: 250px;
}

.faqStart5Image {
  position: absolute;
  width: 12px;
  height: 16px;
  top: 100px;
  left: 250px;
}

.FaqTypographyTitle {
  padding: 1.5px;
  color: var(--primary);
  font-size: 18px;
  font-weight: 700;
}

.FaqTypographySubTitle {
  color: #797e88;
  font-size: var(--font-sm);
  line-height: 24px;
  width: 70%;
  margin-top: -20px;
}

@media screen and (max-width: 1250px) {
  .faqAllDataContainer {
    margin-top: 100px;
  }

  .faqDataContainer {
    width: 90%;
    padding: 100px 0;
    flex-direction: column;
  }

  .faqBrTitleText {
    display: none;
  }

  .faqTitleText {
    text-align: center;
    line-height: 42px;
  }

  .faqMenImage {
    width: 100%;
    height: 100%;
  }

  .faqFrameImage {
    left: -10px;
    width: 100px;
    height: 120px;
  }

  .faqFrame2Image {
    left: 5px;
    top: -30px;
    width: 150px;
    height: 30px;
  }

  .faqStart1Image {
    display: none;
  }

  .faqStart2Image {
    display: none;
  }

  .faqStart3Image {
    display: none;
  }

  .faqStart4Image {
    top: 50px;
    left: 100px;
  }

  .faqStart5Image {
    top: 90px;
  }

  .FaqTypographyTitle {
    padding: 0px;
    font-size: 16px;
  }

  .FaqTypographySubTitle {
    font-size: 14px;
    width: 100%;
  }
}

@media screen and (max-width: 379px) {
  .faqTitleText {
    font-size: 24px;
    line-height: 35px;
  }

  .faqCompoContainer {
    margin-top: 40px;
  }

  .FaqTypographyTitle {
    font-size: 14px;
    padding: 5px 2px;
  }

  .FaqTypographySubTitle {
    font-size: 12px;
    width: 100%;
  }
}

@media screen and (min-width: 380px) and (max-width: 500px) {
  .faqTitleText {
    font-size: 30px;
  }

  .faqCompoContainer {
    margin-top: 50px;
  }

  .faqFrame2Image {
    height: 40px;
  }

  .faqStart5Image {
    top: 85px;
  }

  .FaqTypographyTitle {
    font-size: 14px;
    padding: 10px 5px;
  }

  .FaqTypographySubTitle {
    font-size: 14px;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .faqTitleText {
    font-size: 36px;
  }

  .faqMenImage {
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  .faqFrame2Image {
    top: 20px;
    height: 50px;
  }

  .faqStart5Image {
    top: 90px;
  }

  .FaqTypographyTitle {
    padding: 10px;
    font-size: 18px;
  }

  .FaqTypographySubTitle {
    font-size: 16px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1250px) {
  .faqTitleText {
    font-size: 40px;
  }

  .faqMenImage {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }

  .faqFrame2Image {
    top: 20px;
    height: 50px;
  }

  .faqStart5Image {
    top: 90px;
  }

  .FaqTypographyTitle {
    padding: 10px;
    font-size: 18px;
  }

  .FaqTypographySubTitle {
    font-size: 16px;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1550px) {
  .faqAllDataContainer {
    margin-top: 100px;
  }

  .faqDataContainer {
    width: 90%;
    gap: 50px;
  }

  .faqTitleText {
    font-size: 45px;
    line-height: 55px;
  }

  .faqMenImage {
    width: 500px;
    height: 500px;
  }

  .faqFrameImage {
    width: 100px;
    height: 120px;
  }

  .faqStart1Image {
    display: none;
  }

  .faqStart3Image {
    display: none;
  }
}
