.whyUsHomeContainer {
  background-color: #11112b;
  color: #fff;
}

.whyUsHomeDataContainer {
  width: 85%;
  margin: 0 auto;
  padding: 200px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.whyUsHomeTitleText {
  font-size: 100px;
  font-weight: 700;
}

.whyUsHomeTetxStyleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.whyUsHomeFirstBoxStyle {
  width: 60px;
  height: 60px;
  background: #d9d9d9;
  margin-left: 11%;
  margin-bottom: 40px;
}

.whyUsHomeSecondBoxStyle {
  width: 165px;
  height: 140px;
  background: #d9d9d9;
}

.whyUsHomeListAllDataContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 134px;
}

.whyUsHomeListTitle {
  font-size: 56px;
  font-weight: 700;
  color: #92deed;
}
.whyUsHomeListSubTitle {
  font-size: 20px;
  line-height: 30px;
}
