.sliderAllDataContainer {
  position: relative;
  width: 63%;
  margin: 0 auto;
  padding-left: 20px;
  margin-top: 30px;
}

.viewAllBtn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* ---------------- */

.prevArrowContainer,
.nextArrowContainer {
  width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  background-color: #ffff;
  color: black;
  border: 1px solid #ebebeb;
  cursor: pointer;
  z-index: 100;
  top: 40%;
  z-index: 0;
  opacity: 0;
  transition: all 0.3s;
}
.prevArrowContainer {
  left: 0;
}

.nextArrowContainer {
  right: 20px;
}

.sliderAllDataContainer:hover .nextArrowContainer {
  z-index: 20;
  opacity: 1;
  right: -2%;
}

.sliderAllDataContainer:hover .prevArrowContainer {
  z-index: 20;
  opacity: 1;
  left: -4.7%;
}

.prevArrowContainer:hover {
  background-color: #0a85d1;
  color: #ffffff;
}

.nextArrowContainer:hover {
  background-color: #0a85d1;
  color: #ffffff;
}
