.projectAllDataContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
}

.tabsAllDataContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.projectHeaderTitle {
  color: var(--primary);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

.Tabs {
  border-radius: 5px;
  background: var(--white);
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.1);
}

.z {
  z-index: 100;
}
